header {
    margin-bottom: 0;
    overflow: hidden;
}

.menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Color de fondo */
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
